.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
store.dat
